[Unit]
Description=LoRa APRS iGate service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=pi
Group=pi
WorkingDirectory=/opt/RPI-iGate-LoRa
ExecStartPre=/bin/sleep 10
ExecStart=/opt/RPI-iGate-LoRa/iGate.sh

[Install]
WantedBy=multi-user.target
