[Unit]
Description=LoRa APRS iGate service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/RPI-iGate-LoRa
ExecStart=/usr/bin/python3 /home/pi/RPI-iGate-LoRa/IGate.py

[Install]
WantedBy=multi-user.target
