{% extends 'base.html' %}

{% block header %} Info {% endblock %}

{% block content %}
    <pre>
    Das  LoRa IGate (Internet Gateway) leitet alle g&uuml;ltigen LoRa APRS Positionspakete, die auf 433.775 MHz geh&ouml;rt werden, 
    an das APRS-IS weiter. Im Gegensatz zu den &uuml;blichen AX25 APRS-IGates werden die empfangenen Pakete nicht mehr &uuml;ber 
    Funk ausgestrahlt, d.h. der IGate arbeitet als reiner Empf&auml;nger. Diese Positionsmeldungen k&ouml;nnen anschliessend unter 
    http://aprs.fi angezeigt werden.

    Das Python Programm IGate.py steuert das LoRa RPI-Board der SWISS-ARTG mit dem RF95W Chip von RF-Hope
    als LoRa-Empf&auml;nger. Weitere Informationen zum RPI-Board unter:  https://www.swiss-artg.ch/index.php?id=174
    </pre> 


{% endblock %}
