{% extends 'base.html' %}

{% block header %} Konfiguration {% endblock %}

{% block content %}
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
	
	<form action="{{ url_for('config')}}" method="post">
	<table>
 	{% for key, value in content.items() %}
	<tr>
		<td><label for="{{ key }}" class="form-label">{{ key|upper }}</label></td>
		<td> &nbsp; </td>
		<td><input name="{{ key }}" type="text" class="form-control" id="{{ key }}" value="{{ value }}"> </td>
		<div class="form-check form-check-inline py-3"> </div>
	</tr>
	 {% endfor %}
	</table>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	</div>

 	<div class="col-md-4"></div> 
	</div>

{% endblock %}
